/*--------- Defaults ---------*/
nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0; /* Removes default margin from browser */
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;    
}


.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
    
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*--------- Nav bar ---------*/

nav {
    width: 100%; /* Always 100% of the siplayport */
    margin: 0; /* Edge to edge */
}

nav ul {
    background-color: #FAFAFA;
    overflow: hidden; /* if element is too big, element disapears */
    margin: 0;
    padding: 0;
}

.topnav li {
    list-style: none;
    float: left;
}

.topnav li.topnav-right {
    float: right;
}

.topnav li a {
    display: block;
    text-decoration: none; /* removes underscore */
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

.topnav li a:hover {
    background-color: #0080ff;
    color: #fff;
}

.topnav li.dropdownIcon {
    display: none;
}


/*------ custom styles ----------*/

#section-1-gradient {
    background-image: linear-gradient(#0139e9, #5d83fa);
}

.leftside-col {
    margin-left: 30%;
}

.rightSide-col {
    margin-left: 15%;
}


.large {
    color: #FAFAFA;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

form h2 {
    color: #FAFAFA;
}

input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100%;
    padding: 5px;
}

/* -------------- mobile -----------*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) { /* Not apply to first child (home) */
        display: none;
    }
    
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    
    .col-6 {
        width: 100%;
        margin: 0;
    }
    
    div.leftside-col, div.rightSide-col {
        margin 15px;
    }
    
    input[type="text"] {
        width: 350px;
    }
}