body {
/*
    background-image: url(bear3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
/*    text-align: center;*/
    
    background-color: gray;
}

a {
    text-decoration: none;
    font-size: 20px;
/*    color: yellow;*/
    word-spacing: 10px;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px white;
}

formatting {
    font-size: 25px;
    line-height: 2em;
    color: aliceblue;
}

/*classes*/
.mainParagraph {
    text-align: justify
}

.blueSquare {
    background-color: blue;
    height: 15px;
    width: 15px;
    margin: auto;
}

.container {
    background: linear-gradient(#d6a92d, #c22dd6);
    box-shadow: 10px 10px 3px black;
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 0.5;
    margin: auto;
    display: block;
}

.borderImg {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
    padding: 5px
}

button {
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 25px;
    padding: 10px 20px;
}


/*
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Odibee Sans', cursive;
font-family: 'Roboto', sans-serif;
*/

h1 {
/*    color: #ffffff;*/
    line-height: 1rem;
    font-family: 'Noto Sans Jp', sans-serif;
}

h2 {
/*    color: #ffffff;*/
    line-height: 1rem;
    font-family: 'Odibee Sans', cursive;
}

h3 {
/*    color: #ffffff;*/
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
}


/* descendence */
ul li {
    color: white;
    font-size: 20px;
    text-shadow: 3px 3px 3px black;
}

/* child selector */
ul > li {
    color: orange;
}

/*id*/
#circle {
    color: darkred;
    font-size: 15px;
    text-align: center;
}


.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

col-1 {width: 8.33%};
col-2 {width: 16.66%};
col-3 {width: 25%};
col-4 {width: 33.33%};
col-5 {width: 41.66%};
col-6 {width: 50%};
col-7 {width: 58.33%};
col-8 {width: 66.66%};
col-9 {width: 75%};
col-10 {width: 83.33%};
col-11 {width: 91.66%};
col-12 {width: 100%};

* {
    box-sizing: border-box;
}

[class *="col-"] {
    border: 2px solid red;
    padding: 15px;
    float: left;
}