body.login-body {
    background-color: #e2ddff;
}

div.login-container {
    margin-top: 5%;
}

div.login-card {
    background-color: #f4f4f4;

    padding: 60px 0 30px;
    
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.46);
}

img.login-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
}

button.login-button {
    display: block;
    width: 100%;
    background-color: #2582E0;
    color: #F5F5F7
}


@media only screen and (max-width: 768px) {
    div.login-card {
        padding: 30px 0 30px;
    }
}